<td class="actionicon">
<span class="glyphicon glyphicon-arrow-left" aria-hidden="true">
</span><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
</td>
<td><?=$time?></td>
<th>Proxy call from <span title="<?=$supp_sip?>"><?=$supp_name?></span> to <?=$targ_sip?></th><td><? if($accpeted) { ?><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Established<? } else { ?><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Not established<? } ?></td><td></td>
