<td class="actionicon">
<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><? if($supporter) { ?><? } else { ?><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
<? } ?></td>
<td><?=$time?></td>
<th>Wizard call by <?=$supportee?>.<? if($supporter) { ?> Accepted by <?=$supporter ?> <? } else { ?> Declined. <? } ?></th>
<td>Path: <?=$path?></td>
