<h1>Case #<?=$case_id?> <span class="label label-<? if($open) { ?>danger<? } else { ?>success<? } ?>"><? if($open) { ?>Open<? } else { ?>Closed<? } ?></span></h1>
<? if($error_message) { ?>
<div class="alert alert-info" role="alert"><?=$error_message?></div>
<? } ?>
<?=$caseform?>
<?=$mergeform?>
<h3>Timeline</h3>
<table class="table">
<? foreach($actions) { ?>
<tr><?=$action?></tr>
<? } ?>
</table>
<?=$commentForm?>
