<h2><label for="title">Title: </label><input type="text" id="title" name="title" value="<?=$case_title?>" /></h2>
<h3>Case info</h3>
<table class="table">
    <tr><th>Assigned supporter</th><td><?=$case_supporter?></td></tr>
    <tr><th><label for="description">Description</label></th><td><input type="text" id="description" name="description" value="<?=$description?>" /></td></tr>
</table>
<input type="submit" value="Submit"/>