<div class="container">
<div class="jumbotron">
  <h1>Login</h1>
  <table class="table"><tr>
  <td>Username</td><td><input type="text" name="user"/></td></tr>
<tr><td>Password</td><td><input type="password" name="pw"/></td></tr>
</table>
  <p><input type="submit" class="btn btn-primary btn-lg" href="#" role="button" value="Login"></p>
</div>
</div>
