<h3>Merge case</h3>
<table class="table">
<tr><td><input type="text" name="tomerge" class="form-control"/></td><td><button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-random" aria-hidden="true"></span></button></td></tr>
</table>