<h1>Edit Profile</h1>
<p>Username: <?=$username?></p>
<p>Full name: <?=$fullname?></p>
<div class="panel panel-default">
  <div class="panel-heading"><b>Telephones</b></div>

  <table class="table">
	<tr><th>Id</th><th>Sip uri</th><th></th></tr>
	<? foreach($telephones){?>
		<tr><td><?=$id?></td><td><?=$sip_uri?></td></tr>
	<?}?>
  </table>
</div>